.nav {
	background-color: $light-grey;
	display: flex;
	justify-content: space-between;

	.buttons {
		display: flex;
		justify-content: space-between;
		width: 500px;
	}

	button {
		background-color: Transparent;
		border: none;
		cursor: pointer;
		height: 40px;
	}
}
